<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myshowcase">



    <application>
        <!-- to display showcaseview, this activity and its' style must be added -->
        <activity
            android:name="com.ahmed.customapp.MainApp.showCaseLibrary.ShowcaseActivity"
            android:theme="@style/ShowcaseTransparentTheme"/>
    </application>
</manifest>