<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmed.customapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Torch.TorchActivity"></activity>
        <activity android:name=".Services.JobIntentService.JobIntentServiceActivity" /> <!-- Single task to avoid (pressing on notification opens the same activity twice) -->
        <activity
            android:name=".Services.ForegroundServices.ForegroundServiceActivity"
            android:launchMode="singleTask" />
        <activity android:name=".Services.JobScheduler.JobSchedulerActivity" />
        <activity android:name=".QRCodeActivity" />
        <activity android:name=".CelebrationActivity" />
        <activity android:name=".Test.AnimateActivity" />
        <activity android:name=".WeActivity" />
        <activity android:name=".MyAppsActivity" />
        <activity
            android:name=".QuranKareem.FragmentsContainer"
            android:label="@string/title_activity_test_fragment"
            android:theme="@style/AppTheme.bottomNavigation" />
        <activity
            android:name=".QuranKareem.OuranSplash"
            android:theme="@style/AppTheme.bottomNavigation" />
        <activity
            android:name=".QuranKareem.Soura"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Calulator.CalculatorActivity"
            android:theme="@style/CalculatorTheme" />
        <activity
            android:name=".MainApp.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainApp.MasterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.JobScheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".Services.ForegroundServices.ExampleService" />
        <service
            android:name=".Services.JobIntentService.ExampleJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".BroadcastReceivers.MyExampleBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".BroadcastReceivers.TestServices" />
    </application>

</manifest>